body {
	font-family: 'Open Sans',  sans-serif;
	padding: 0;
	margin: 0;
}

header {
	background : url(../img/bg-header.png) no-repeat center top;
	height: 100px;
}


.container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

nav {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	text-align: center;

}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}

.menu li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

.menu li a:hover {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	padding-bottom: 3px;
	padding-top: 3px;
	border-top-style: solid; /* Стиль линии сверху */
	border-top-width: 2px;
}

footer {
	height: 200px;
	background-color: rgb(8, 146, 20);
}

footer p, .social, .goToUp{
	display: flex;
	justify-content: center;
	text-align: center;
	color: #fff;
}

footer a {
	padding-left: 10px;
}