@font-face{
font-family: 'EuropeExt';
src: url('../fonts/EuropeExt.otf');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'EuropeExt-Bold';
src: url('../fonts/EuropeExt-Bold.otf');
font-weight: normal;
font-style: normal;
}

$font-stack: 'Open Sans',  sans-serif;
$bold: 700;
$main-blue: #2c2783;
$topborder: 50px;
$bottomborder: 50px;

body {
  font-family: $font-stack;
  padding: 0;
  margin: 0;
}

@import 'site/nav';
@import 'site/header/header';
@import 'site/success';
@import 'site/achievements';
@import 'site/contacts';
@import 'site/footer';


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {  }

// Small devices (landscape phones, 576px and up)
@media (max-width: 768px) {  }

// Medium devices (tablets, 768px and up)
@media  (max-width: 992px) { 
  .header-bg { 
    nav { 
      .menu {
        li { 
          margin-right: 30px;
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
 }

// Large devices (desktops, 992px and up)
@media  (max-width: 1200px) { 

 }
