@charset "UTF-8";
@font-face {
  font-family: 'EuropeExt';
  src: url("../fonts/EuropeExt.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'EuropeExt-Bold';
  src: url("../fonts/EuropeExt-Bold.otf");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0; }

/* Navigation */
.header-bg {
  background: url(../img/bg-header.png) no-repeat center top;
  height: 100px; }
  .header-bg .navbar {
    background: url(../img/bg-header.png) no-repeat center top;
    margin-top: 10px; }
    .header-bg .navbar .navbar-brand {
      display: none; }
    .header-bg .navbar .navbar-nav {
      padding: 0;
      margin: 0;
      display: block; }
      .header-bg .navbar .navbar-nav li {
        float: left;
        display: block;
        margin-right: 50px; }
        .header-bg .navbar .navbar-nav li a {
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 16px; }
        .header-bg .navbar .navbar-nav li a:hover {
          color: #fff;
          border-top: 2px solid #fff;
          border-bottom: 2px solid #fff;
          padding-bottom: 3px;
          padding-top: 3px;
          border-top-style: solid;
          /* Стиль линии сверху */
          border-top-width: 2px; }

/* Navigation END */
/* Header */
header {
  background: url(../img/bg.jpg) no-repeat center top;
  padding-bottom: 50px; }

/* Dropdown Languages */
.dropbtn {
  background-color: transparent;
  color: #2c2783;
  padding: 16px;
  font-size: 16px;
  font-weight: 700;
  border: none;
  cursor: pointer; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 70px; }
  .dropdown-content a {
    margin-left: 12px;
    color: #2c2783;
    padding: 2px 6px;
    text-decoration: none;
    display: block;
    font-weight: 700;
    background-color: #fff; }
  .dropdown-content a:hover {
    background-color: green;
    color: #fff; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  background-color: transparent; }

/* Dropdown Languages END */
.slider {
  padding-top: 50px; }

.carousel-indicators li {
  float: left; }

#carouselExampleCaptions {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.56), 0 10px 10px rgba(0, 0, 0, 0.56);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.56), 0 10px 10px rgba(0, 0, 0, 0.56); }

.carousel-caption .backslide {
  width: 130%;
  height: 75%;
  background-color: #01983b;
  opacity: 0.36;
  position: absolute;
  right: 18%;
  top: 10%; }
.carousel-caption p {
  width: 100%;
  position: relative;
  right: 21%;
  float: left;
  text-transform: uppercase;
  opacity: 1;
  font-size: 30px;
  font-family: 'EuropeExt', arial; }
  .carousel-caption p .today {
    float: left;
    margin-left: 27px; }
  .carousel-caption p .tomorrow {
    float: right; }
  .carousel-caption p strong {
    font-family: 'EuropeExt-Bold', arial;
    font-size: 24px;
    float: right; }

.social {
  display: inline-block; }
  .social p {
    color: #01983b;
    text-transform: uppercase; }
    .social p a:first-child {
      padding-left: 10px; }

.phones {
  color: #2c2783;
  font-weight: 700; }

.fax {
  display: none; }

/* Header END */
/* Success */
.ofSuccess {
  overflow: hidden;
  padding-top: 50px;
  background: url(../img/arifBG.jpg) no-repeat center top;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 50px;
  background-size: cover; }
  .ofSuccess img {
    min-width: 100%; }
  .ofSuccess .circle1 {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 225px;
    background: transparent;
    border: 3px solid #00aeef;
    left: 3%;
    top: 10%; }
  .ofSuccess .circle11 {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 275px;
    background: transparent;
    border: 1px solid #3376af;
    left: 1%;
    top: 6%; }
  .ofSuccess .circle2 {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 225px;
    background: transparent;
    border: 3px solid #00aeef;
    right: 14%;
    top: 15%; }
  .ofSuccess .circle21 {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 275px;
    background: transparent;
    border: 1px solid #3376af;
    right: 12%;
    top: 10%; }
  .ofSuccess .circle3 {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 225px;
    background: transparent;
    border: 3px solid #00aeef;
    left: 36%;
    top: 47%; }
  .ofSuccess .circle31 {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 275px;
    background: transparent;
    border: 1px solid #3376af;
    left: 34%;
    top: 42%; }
  .ofSuccess h2 {
    text-align: center;
    position: relative;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px; }
  .ofSuccess .forsuc {
    display: inline-block; }
    .ofSuccess .forsuc p {
      font-size: 30px; }
      .ofSuccess .forsuc p strong {
        font-size: 60px; }
        .ofSuccess .forsuc p strong span {
          font-size: 30px; }

/* Success END */
/* Achievements */
.achievements {
  margin-bottom: 50px; }
  .achievements h2 {
    font-family: 'EuropeExt-Bold', arial;
    margin-top: 50px;
    text-align: center;
    position: relative;
    font-weight: 700;
    font-size: 42px;
    color: #2c2783; }
    .achievements h2 .peno {
      color: #01983b; }
    .achievements h2 sup {
      font-size: 9px;
      vertical-align: top;
      position: relative;
      top: 0.8em;
      right: 0.3em; }
  .achievements h3 {
    text-align: center;
    color: #2c2783;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px; }
  .achievements .best100 {
    text-align: center;
    color: #2c2783;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px; }
  .achievements .top100 {
    text-align: center; }
  .achievements .images {
    text-align: center; }
    .achievements .images .cert {
      width: 144px;
      height: 205px; }

/* Achievements END */
/* Contacts */
.contacts {
  background: url(../img/bgContacts.jpg) no-repeat center top;
  background-size: cover;
  padding-bottom: 50px; }
  .contacts h2 {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px; }
  .contacts .findUs {
    color: #fff;
    font-size: 18px;
    text-align: center; }
    .contacts .findUs .telephones {
      font-size: 14px; }

/* Footer */
footer {
  padding-top: 10px;
  background-color: #01983b;
  padding-bottom: 10px; }
  footer .footer {
    text-align: center; }
    footer .footer h2 {
      font-family: 'EuropeExt-Bold', arial;
      text-align: center;
      position: relative;
      font-weight: 700;
      font-size: 42px;
      color: #fff; }
      footer .footer h2 sup {
        font-size: 9px;
        vertical-align: top;
        position: relative;
        top: 0.8em;
        right: 0.3em; }
    footer .footer p {
      color: #fff; }
    footer .footer a {
      color: #fff; }

/* Footer END */
@media (max-width: 576px) {
  header {
    text-align: center; }

  .fax {
    display: block; }

  .header-bg .navbar {
    margin-top: 20px;
    padding: 0;
    color: #fff;
    text-align: center; }
    .header-bg .navbar .navbar-brand {
      display: block; }
    .header-bg .navbar .navbar-collapse {
      background-color: #01983b;
      background-size: cover;
      z-index: 1; }
    .header-bg .navbar button {
      margin-left: 100px; }
  .header-bg li {
    display: block;
    width: 100%;
    text-align: center; }
  .header-bg h2 {
    font-family: 'EuropeExt-Bold', arial;
    text-align: center;
    position: relative;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    margin-left: 20px; }
    .header-bg h2 sup {
      font-size: 7px;
      vertical-align: top;
      position: relative;
      top: 0.5em;
      right: 0.4em; }

  .carousel-caption .backslide {
    width: 150%;
    height: 75%;
    background-color: #01983b;
    opacity: 0.36;
    position: absolute;
    right: 18%;
    top: 10%; }
  .carousel-caption p {
    width: 100%;
    font-size: 16px; }
    .carousel-caption p strong {
      font-size: 14px; }

  .ofSuccess img {
    max-width: 35%; }
  .ofSuccess .seven {
    text-align: right; }
  .ofSuccess .circle1 {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 125px;
    background: transparent;
    border: 3px solid #00aeef;
    left: 7%;
    top: 20%; }
  .ofSuccess .circle11 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 175px;
    background: transparent;
    border: 1px solid #3376af;
    left: 1%;
    top: 16%; }
  .ofSuccess .circle2 {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 125px;
    background: transparent;
    border: 3px solid #00aeef;
    right: 6%;
    top: 42%; }
  .ofSuccess .circle21 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 175px;
    background: transparent;
    border: 1px solid #3376af;
    right: 1%;
    top: 38%; }
  .ofSuccess .circle3 {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 125px;
    background: transparent;
    border: 3px solid #00aeef;
    left: 19%;
    top: 75%; }
  .ofSuccess .circle31 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 175px;
    background: transparent;
    border: 1px solid #3376af;
    left: 12.5%;
    top: 71%; }
  .ofSuccess .forsuc p {
    font-size: 24px; }
    .ofSuccess .forsuc p strong {
      font-size: 60px; } }
@media only screen and (min-width: 576px) and (max-width: 767px) {
  header {
    text-align: center; }

  .header-bg .navbar {
    margin-top: 20px;
    padding: 0;
    color: #fff;
    text-align: center; }
    .header-bg .navbar .navbar-brand {
      display: block; }
    .header-bg .navbar .navbar-collapse {
      background-color: #01983b;
      background-size: cover;
      z-index: 1; }
    .header-bg .navbar button {
      margin-left: 250px; }
  .header-bg li {
    display: block;
    width: 100%;
    text-align: center; }
  .header-bg h2 {
    font-family: 'EuropeExt-Bold', arial;
    text-align: center;
    position: relative;
    font-weight: 700;
    font-size: 24px;
    color: #fff; }
    .header-bg h2 sup {
      font-size: 7px;
      vertical-align: top;
      position: relative;
      top: 0.5em;
      right: 0.4em; }

  .carousel-caption p {
    font-size: 22px; }
    .carousel-caption p strong {
      font-size: 16px; }

  .ofSuccess .seven {
    text-align: right; }
  .ofSuccess .circle1 {
    position: absolute;
    width: 225px;
    height: 225px;
    border-radius: 200px;
    background: transparent;
    border: 3px solid #00aeef;
    left: 5%;
    top: 14%; }
  .ofSuccess .circle11 {
    position: absolute;
    width: 275px;
    height: 275px;
    border-radius: 250px;
    background: transparent;
    border: 1px solid #3376af;
    left: 1%;
    top: 10%; }
  .ofSuccess .circle2 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 175px;
    background: transparent;
    border: 3px solid #00aeef;
    right: 4%;
    top: 33%; }
  .ofSuccess .circle21 {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 225px;
    background: transparent;
    border: 1px solid #3376af;
    right: 0;
    top: 29%; }
  .ofSuccess .circle3 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 175px;
    background: transparent;
    border: 3px solid #00aeef;
    left: 17%;
    top: 68%; }
  .ofSuccess .circle31 {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 225px;
    background: transparent;
    border: 1px solid #3376af;
    left: 12.5%;
    top: 64%; } }
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-bg .navbar .navbar-nav li {
    margin-right: 10px; }
    .header-bg .navbar .navbar-nav li a {
      font-size: 16px; }

  header {
    text-align: center; }

  .carousel-caption p {
    font-size: 24px; }
    .carousel-caption p strong {
      font-size: 18px; }

  .ofSuccess .seven {
    float: right; }
  .ofSuccess .shadow1 {
    max-width: 80%; }
  .ofSuccess .forsuc p {
    font-size: 24px; }
    .ofSuccess .forsuc p strong {
      font-size: 48px; }
  .ofSuccess .circle1 {
    position: absolute;
    width: 225px;
    height: 225px;
    border-radius: 200px;
    background: transparent;
    border: 3px solid #00aeef;
    left: 2.5%;
    top: 18%; }
  .ofSuccess .circle11 {
    position: absolute;
    width: 275px;
    height: 275px;
    border-radius: 250px;
    background: transparent;
    border: 1px solid #3376af;
    left: -1%;
    top: 14%; }
  .ofSuccess .circle2 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 175px;
    background: transparent;
    border: 3px solid #00aeef;
    right: 4%;
    top: 14%; }
  .ofSuccess .circle21 {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 225px;
    background: transparent;
    border: 1px solid #3376af;
    right: 1%;
    top: 9%; }
  .ofSuccess .circle3 {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 175px;
    background: transparent;
    border: 3px solid #00aeef;
    left: 36%;
    top: 57%; }
  .ofSuccess .circle31 {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 225px;
    background: transparent;
    border: 1px solid #3376af;
    left: 32.5%;
    top: 53%; }

  .footer img {
    text-align: center; }
  .footer h2 {
    display: block;
    text-align: center; } }
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ofSuccess .seven {
    float: right; }
  .ofSuccess .circle1 {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 225px;
    background: transparent;
    border: 3px solid #00aeef;
    left: 3.5%;
    top: 15%; }
  .ofSuccess .circle11 {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 275px;
    background: transparent;
    border: 1px solid #3376af;
    left: 1%;
    top: 10%; }
  .ofSuccess .circle2 {
    position: absolute;
    width: 225px;
    height: 225px;
    border-radius: 200px;
    background: transparent;
    border: 3px solid #00aeef;
    right: 9%;
    top: 10%; }
  .ofSuccess .circle21 {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 225px;
    background: transparent;
    border: 1px solid #3376af;
    right: 8%;
    top: 8%; }
  .ofSuccess .circle3 {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 225px;
    background: transparent;
    border: 3px solid #00aeef;
    left: 35%;
    top: 57%; }
  .ofSuccess .circle31 {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 275px;
    background: transparent;
    border: 1px solid #3376af;
    left: 32.5%;
    top: 53%; } }

/*# sourceMappingURL=main.css.map */