@font-face{
font-family: 'EuropeExt';
src: url('../fonts/EuropeExt.otf');
font-weight: normal;
font-style: normal;
}

@font-face{
font-family: 'EuropeExt-Bold';
src: url('../fonts/EuropeExt-Bold.otf');
font-weight: normal;
font-style: normal;
}

$font-stack: 'Open Sans',  sans-serif;
$bold: 700;
$main-blue: #2c2783;
$topborder: 50px;
$bottomborder: 50px;

body {
  font-family: $font-stack;
  padding: 0;
  margin: 0;
}

@import 'site/nav';
@import 'site/header/header';
@import 'site/success';
@import 'site/achievements';
@import 'site/contacts';
@import 'site/footer';


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 576px) {  }

@import 'media/max768';
@import 'media/max992';
@import 'media/max1200';
