// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) and (max-width : 1199px)  { 
  .ofSuccess {
    .seven{
      float: right;
    }
    .circle1 {
      @include circles(250px, 225px);
      left: 3.5%;
      top: 15%;
    }
    .circle11 {
        @include second(300px, 275px);
        left: 1%;
        top: 10%;
    }
    .circle2 {
      @include circles(225px, 200px);
      right: 9%;
      top: 10%;
    }
    .circle21 {
        @include second(250px, 225px);
        right: 8%;
        top: 8%;
      }
    .circle3 {
      @include circles(250px, 225px);
      left: 35%;
      top: 57%;
    }
    .circle31 {
      @include second(300px, 275px);
      left: 32.5%;
      top: 53%;
    }
  }
}