// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) and (max-width : 991px) { 
  .header-bg { 
    nav { 
      .menu {
        li { 
          margin-right: 30px;
          a {
            font-size: 16px;
          }
        }
      }
    }
  }
  header {
    text-align: center;
  }
  .carousel-caption {
    p {
      font-size: 24px;
      strong {
        font-size: 18px;
      }
    }
  }

  .ofSuccess {
    .seven{
      float: right;
    }
    .shadow1 {
    max-width: 80%;
    }
    .forsuc {
      p {
        font-size: 24px;
        strong {
          font-size: 60px;
        }
      }        
    }
    .circle1 {
      @include circles(225px, 200px);
      left: 2.5%;
      top: 18%;
    }
    .circle11 {
        @include second(275px, 250px);
        left: -1%;
        top: 14%;
    }
    .circle2 {
      @include circles(200px, 175px);
      right: 4%;
      top: 14%;
    }
    .circle21 {
        @include second(250px, 225px);
        right: 1%;
        top: 9%;
      }
    .circle3 {
      @include circles(200px, 175px);
      left: 36%;
      top: 57%;
    }
    .circle31 {
      @include second(250px, 225px);
      left: 32.5%;
      top: 53%;
    }


  }

  .footer {
    img {
      text-align: center;
    }
    h2 {
      display: block;
      text-align: center;
    }
  }

 }