/* Success */
@mixin circles($size, $radius) {
  position: absolute;
  width: $size; // 250px
  height: $size;  // 250px
  -webkit-border-radius: $radius;  // 225px
  -moz-border-radius: $radius;  // 225px
  border-radius: $radius;  // 225px
  background: transparent;
  border: 3px solid #00aeef;
}

@mixin second($size, $radius) {
  position: absolute;
  width: $size;  // 300px
  height: $size;  // 300px
  -webkit-border-radius: $radius;  // 275px
  -moz-border-radius: $radius;   // 275px
  border-radius: $radius;   // 275px
  background: transparent;
  border: 1px solid #3376af;

}

.ofSuccess {
  overflow:hidden;  // Чтобы не появлялся горизонтальный скролл
  padding-top: $topborder;
  background: url(../img/arifBG.jpg) no-repeat center top;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: $bottomborder;
  background-size: cover;
  img {
    min-width: 100%;
  }
    .circle1 {
      @include circles(250px, 225px);
      left: 3%;
      top: 10%;

    }
    .circle11 {
        @include second(300px, 275px);
        left: 1%;
        top: 6%;
    }
    .circle2 {
      @include circles(250px, 225px);
      right: 14%;
      top: 15%;
    }
    .circle21 {
        @include second(300px, 275px);
        right: 12%;
        top: 10%;
      }
    .circle3 {
      @include circles(250px, 225px);
      left: 36%;
      top: 47%;
    }
    .circle31 {
      @include second(300px, 275px);
      left: 34%;
      top: 42%;
    }
  h2 {
    text-align: center;
    position: relative;
    font-weight: $bold;
    font-size: 40px;
    margin-bottom: 50px;
  }
  .forsuc {
    display: inline-block;
    p {
      font-size: 30px;
      strong {
        font-size: 60px;
        span {
          font-size: 30px;
        }
      }
    }    
  }

}

/* Success END */